<nav class="navbar fixed-top navbar-light bg-light topnav" >
  <div class="container-fluid">
    <div class="navbar-brand mb-0 h1 shopName d-flex" style="width: 75%;">
     <div><img class="alerts " src="../../../assets/images/location.svg"></div>
      <div class="flex-2 mleft-5">
        <div class="fs-15 fw-600 col-grey">Home</div>
        <div class="ellipsis fs-10 col-lightgrey" style="width: 75%;" >20-07-11,gavarapallem,anakapalle.</div>
    </div>
    </div>
    <div class="d-flex">
    <img class="alerts me-2" src="../../../assets/images/notification-dot.svg">
  </div>
  </div>
</nav>
