.topnav{
  height:55px;
}

.discount{
  margin: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  width: 55%;
}

.discount-search{
  position: absolute;
  width: 100%;
  top: 55px;
}

.accordianBody{
  position: absolute;
  top: 185px;
  width: 100%;
  background: whitesmoke;
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
}

.accordion-item {
  margin-bottom: 10px !important;
}

.itemSearch{

}
