<div class="shopCard display-flex" (click)="service.openShopItems()" [ngClass]="{'shopClosed': !shop.open}">
  <div>
    <img class="shopImg flex-1" [src]="shop['shopImg']">
  </div>
  <!-- shop details -->
  <div class=" m-2 flex-3 w-50">
    <div class="fs-15 fw-600 ellipsis">{{shop['shopName']}}</div>
    <div class="fs-12 col-lightgray ellipsis">{{shop['shopDescription']}}</div>
    <div class="display-flex">
      <div class="flex-1 "><span class="fs-20 col-orange">&starf; </span>{{shop['rating']}}</div>
      <div class="flex-3 "><span class="fs-20">&#10072; </span> {{shop['shopTiming']}}</div>
    </div>
    <div class="fs-12 col-grey ellipsis discount">{{shop['discount']}}</div>
  </div>
</div>


