.topNavBar{
  height:7%;
}

.shopDetails-homeBody{
  height: 87%;
  position: absolute;
  top: 8%;
  width: 95%;
  margin: 0px 10px;
}

.shopItems-homeBody{
  height: 86%;
  position: absolute;
  top: 8%;
  width: 95%;
  margin: 0px 10px;
}

