.shopDetails-homeBody{
  height: 94%;
  position: absolute;
  top: 50px;
  width: 95%;
  margin: 0px 10px;
}

.shopItems-homeBody{
  height: 94%;
  position: absolute;
  top: 50px;
  width: 95%;
  margin: 0px 10px;
}

